html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
}

.axis line, .axis path {
  shape-rendering: crispEdges; 
  stroke: #8a8a8a;
  stroke-width: 1px;
}

.axis text {
  fill: #8a8a8a;
}

.val {
  stroke: none;
}

.label {
  fill: #8a8a8a;
} 

.section .label {
  font-size: 0.8em;
}
