html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
}

.axis line, .axis path {
  shape-rendering: crispEdges; 
  stroke: #8a8a8a;
  stroke-width: 1px;
}

.axis text {
  fill: #8a8a8a;
}

.line {
  fill: none;
  stroke-width: 1px;
  stroke: black;
} 

.point {
  fill: white;
  stroke-width: 1px;
  stroke: black;
} 

.area {
  fill: rgba(0, 0, 0, 0.3);
  stroke-width: 0.5;
  stroke: black;
}

.label {
  font-size: 11;
} 
